{% extends "base.html" %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center text-white px-4">
    <h1 class="text-6xl font-bold mb-4 text-black">403</h1>
    <h2 class="text-2xl mb-2 text-black">Unauthorized Access</h2>
    <p class="text-lg mb-6 text-black text-center">Sorry, you don’t have permission to view this page.</p>
    <a href="{% url 'home' %}" class="bg-green-700 text-white px-6 py-2 rounded hover:bg-gray-100 transition">
        Go Back Home
    </a>
</div>
{% endblock %}
